<div class="row">
  <div class="small-8 columns">
    <h2><%= @post.title %></h2>
    <%= image_tag @post.image.url%>
  </div>
  <div class="small-4 columns">
    <%= render("shared/new_comment_form", {comment: @comment, post: @post}) %>
    <div class="row">
      <div class="small-12 columns">
        <ul class="comments"><%= render @comments %></ul>
      </div>
    </div>
  </div>
</div>